<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-autowire="byName">

    <!-- pool配置 -->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxIdle" value="100"/>
        <property name="minIdle" value="30"/>
        <property name="maxTotal" value="1000"/>
        <property name="testOnBorrow" value="true"/>
        <property name="maxWaitMillis" value="10000" />
    </bean>

    <!-- jedis pool配置 -->
    <bean id="jedisPoolRead" class="redis.clients.jedis.JedisPool">
        <constructor-arg index="0" ref="jedisPoolConfig"/>
        <constructor-arg index="1">
            <value>#{configManager.getRedisConfig('jfx_public_redis','alone').ip}</value>
        </constructor-arg>
        <constructor-arg index="2">
            <value>#{configManager.getRedisConfig('jfx_public_redis','alone').port}</value>
        </constructor-arg>
        <constructor-arg index="3">
            <value>2000</value>
        </constructor-arg>
        <constructor-arg index="4">
            <value>#{configManager.getRedisConfig('jfx_public_redis','alone').pwd}</value>
        </constructor-arg>
    </bean>

    <bean id="jedisPoolWrite" class="redis.clients.jedis.JedisPool">
        <constructor-arg index="0" ref="jedisPoolConfig"/>
        <constructor-arg index="1">
            <value>#{configManager.getRedisConfig('jfx_public_redis','alone').ip}</value>
        </constructor-arg>
        <constructor-arg index="2">
            <value>#{configManager.getRedisConfig('jfx_public_redis','alone').port}</value>
        </constructor-arg>
        <constructor-arg index="3">
            <value>2000</value>
        </constructor-arg>
        <constructor-arg index="4">
            <value>#{configManager.getRedisConfig('jfx_public_redis','alone').pwd}</value>
        </constructor-arg>
    </bean>

    <!-- redis 哨兵配置 -->
    <bean id="redisSentinel" class="redis.clients.jedis.JedisSentinelPool">
        <constructor-arg index="0">
            <value>#{configManager.getConfigValue('jfx_redis_sentinel','redis_sentinel_master')}</value>
        </constructor-arg>
        <constructor-arg index="1">
            <set>
                <value>#{configManager.getConfigValue('jfx_redis_sentinel','redis_sentinel_ip1')}</value>
                <value>#{configManager.getConfigValue('jfx_redis_sentinel','redis_sentinel_ip2')}</value>
                <value>#{configManager.getConfigValue('jfx_redis_sentinel','redis_sentinel_ip3')}</value>
            </set>
        </constructor-arg>
        <constructor-arg index="2" ref="jedisPoolConfig"/>
        <constructor-arg index="3">
            <value>#{configManager.getConfigValue('jfx_redis_sentinel','redis_sentinel_password')}</value>
        </constructor-arg>
    </bean>

    <!--&lt;!&ndash; jedis pool配置 &ndash;&gt;-->
    <!--<bean id="jedisCluster" class="redis.clients.jedis.JedisCluster">-->
        <!--<constructor-arg index="0">-->
            <!--<set>-->
                <!--<bean class="redis.clients.jedis.HostAndPort">-->
                    <!--<constructor-arg name="host" value="192.168.10.66" />-->
                    <!--<constructor-arg name="port" value="7000" />-->
                <!--</bean>-->
                <!--<bean class="redis.clients.jedis.HostAndPort">-->
                    <!--<constructor-arg name="host" value="192.168.10.66" />-->
                    <!--<constructor-arg name="port" value="7001" />-->
                <!--</bean>-->
                <!--<bean class="redis.clients.jedis.HostAndPort">-->
                    <!--<constructor-arg name="host" value="192.168.10.66" />-->
                    <!--<constructor-arg name="port" value="7002" />-->
                <!--</bean>-->
                <!--<bean class="redis.clients.jedis.HostAndPort">-->
                    <!--<constructor-arg name="host" value="192.168.10.66" />-->
                    <!--<constructor-arg name="port" value="7003" />-->
                <!--</bean>-->
                <!--<bean class="redis.clients.jedis.HostAndPort">-->
                    <!--<constructor-arg name="host" value="192.168.10.66" />-->
                    <!--<constructor-arg name="port" value="7004" />-->
                <!--</bean>-->
                <!--<bean class="redis.clients.jedis.HostAndPort">-->
                    <!--<constructor-arg name="host" value="192.168.10.66" />-->
                    <!--<constructor-arg name="port" value="7005" />-->
                <!--</bean>-->
            <!--</set>-->

            <!--<set>-->
                <!--<bean class="redis.clients.jedis.HostAndPort">-->
                    <!--<constructor-arg name="host" value="120.24.153.102" />-->
                    <!--<constructor-arg name="port" value="7000" />-->
                <!--</bean>-->
                <!--<bean class="redis.clients.jedis.HostAndPort">-->
                    <!--<constructor-arg name="host" value="120.24.153.102" />-->
                    <!--<constructor-arg name="port" value="7001" />-->
                <!--</bean>-->
                <!--<bean class="redis.clients.jedis.HostAndPort">-->
                    <!--<constructor-arg name="host" value="120.24.153.102" />-->
                    <!--<constructor-arg name="port" value="7002" />-->
                <!--</bean>-->
                <!--<bean class="redis.clients.jedis.HostAndPort">-->
                    <!--<constructor-arg name="host" value="120.24.153.102" />-->
                    <!--<constructor-arg name="port" value="7003" />-->
                <!--</bean>-->
                <!--<bean class="redis.clients.jedis.HostAndPort">-->
                    <!--<constructor-arg name="host" value="120.24.153.102" />-->
                    <!--<constructor-arg name="port" value="7004" />-->
                <!--</bean>-->
                <!--<bean class="redis.clients.jedis.HostAndPort">-->
                    <!--<constructor-arg name="host" value="120.24.153.102" />-->
                    <!--<constructor-arg name="port" value="7005" />-->
                <!--</bean>-->
            <!--</set>-->
        <!--</constructor-arg>-->
        <!--<constructor-arg index="1" value="2000" />-->
        <!--<constructor-arg index="2" ref="jedisPoolConfig"/>-->
    <!--</bean>-->

</beans>