<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfshare.product.model.mapper.manual.ManualTbProductCardMapper">

    <resultMap id="statisticsResultMap" type="com.jfshare.product.model.manual.ProductCardStatisticsModel">
        <result column="id" property="productId" jdbcType="VARCHAR"/>
        <result column="name" property="productName" jdbcType="VARCHAR"/>
        <result column="sku_num" property="skuNum" jdbcType="VARCHAR"/>
        <result column="total" property="total" jdbcType="INTEGER"/>
        <result column="unused" property="unusedNum" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="dayAldCaptchaCountMap" type="com.jfshare.finagle.thrift.product.DayAldCaptchaCount">
        <result column="statistics_date" property="date" jdbcType="VARCHAR"/>
        <result column="checked_num" property="checkedTotalNum" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="dayAldCaptchaItemMap" type="com.jfshare.finagle.thrift.product.DayAldCaptchaItem">
        <result column="id" property="productId" jdbcType="VARCHAR"/>
        <result column="name" property="productName" jdbcType="VARCHAR"/>
        <result column="sold_num" property="aldSold" jdbcType="INTEGER"/>
        <result column="checked_num" property="aldCaptcha" jdbcType="INTEGER"/>
        <result column="statistics_date" property="date" jdbcType="VARCHAR"/>
    </resultMap>


    <resultMap id="aldCaptchaItemMap" type="com.jfshare.finagle.thrift.product.AldCaptchaItem">
        <result column="id" property="productId" jdbcType="VARCHAR"/>
        <result column="name" property="productName" jdbcType="VARCHAR"/>
        <result column="sold_num" property="aldSold" jdbcType="INTEGER"/>
        <result column="checked_num" property="aldCaptcha" jdbcType="INTEGER"/>
    </resultMap>

    <select id="selectAvailableCard" parameterType="map" resultMap="com.jfshare.product.model.mapper.TbProductCardMapper.BaseResultMap">
        select
        <include refid="com.jfshare.product.model.mapper.TbProductCardMapper.Base_Column_List"/>
        from tb_product_card
        <where>
            and product_id = #{productId} and state != 1 and transaction_id = #{transactionId}
        </where>
    </select>

    <update id="lockProductCard" parameterType="map">
		UPDATE tb_product_card
		SET transaction_id = #{transactionId}, state = 2, buyer_id = #{buyerId}, sold_time = CURRENT_TIMESTAMP
		WHERE state = 1 and product_id = #{productId}
		ORDER BY create_time asc
		limit #{num}
	</update>

    <update id="releaseProductCard" parameterType="map">
		update tb_product_card
		SET transaction_id = '', state = 1, buyer_id = 0, sold_time = null
		WHERE transaction_id = #{transactionId} and product_id = #{productId}
	</update>

    <select id="queryProductCardViewListCount" parameterType="map" resultType="int">
        select
        count(*)
        from tb_product_card
        <where>
            and product_id = #{productId} and seller_id = #{sellerId}
            <if test="cardNumber != null">
                and card_number like concat('%',#{cardNumber} ,'%')
            </if>
            <if test="state != 0">
                and state = #{state}
            </if>
        </where>
    </select>

    <select id="queryProductCardViewList" parameterType="map" resultMap="com.jfshare.product.model.mapper.TbProductCardMapper.BaseResultMap">
        select
        <include refid="com.jfshare.product.model.mapper.TbProductCardMapper.Base_Column_List"/>
        from tb_product_card
        <where>
            and product_id = #{productId,jdbcType=VARCHAR} and seller_id = #{sellerId}
            <if test="cardNumber != null">
                and card_number like concat('%',#{cardNumber} ,'%')
            </if>
            <if test="state != 0">
                and state = #{state}
            </if>
            <if test="skuNum != null">
                and sku_num = #{skuNum}
            </if>
        </where>
        order by id
        limit #{start}, #{count}
    </select>

    <select id="statisticsProductCard" parameterType="map" resultMap="statisticsResultMap">
		SELECT
          p.id,
          p.name,
          MAX(t.create_time) create_time,
          COUNT(t.`id`) total,
          SUM(
            CASE
              WHEN t.state = 1
              THEN 1
              ELSE 0
            END) AS unused
        FROM
          tb_product p
        LEFT JOIN tb_product_card t ON t.product_id = p.id
        <where>
              AND p.seller_id = #{sellerId} AND p.type = 3
              <if test="productName != null">
                  AND p.name like concat('%',#{productName} ,'%')
              </if>
          </where>
        GROUP BY p.id
        ORDER BY p.id asc, create_time asc
        LIMIT #{start}, #{count}
	</select>

    <select id="statisticsProductCardCount" parameterType="map" resultType="int">
        SELECT
        COUNT(*)
        FROM (
            SELECT
            p.id,
            p.name,
            t.create_time,
            COUNT(t.`id`) total,
            SUM(
                CASE
                WHEN t.state = 1
                THEN 1
                ELSE 0
                END
            ) AS unused
            FROM
            tb_product p
            LEFT JOIN tb_product_card t ON t.product_id = p.id
            <where>
                AND p.seller_id = #{sellerId} AND p.type = 3
                <if test="productName != null">
                    AND p.name like concat('%',#{productName} ,'%')
                </if>
            </where>
            GROUP BY p.id
        ) bak
    </select>
    
    <select id="statisticsSkuProductCardCount" parameterType="map" resultType="int">
      SELECT
        COUNT(*)
        FROM (
            SELECT
            p.product_id,
            p.sku_num,
            MAX(t.create_time) create_time,
            COUNT(t.id) total,
            SUM(
            CASE
            WHEN t.state = 1
            THEN 1
            ELSE 0
            END) AS unused
            FROM
            tb_product_sku p
            LEFT JOIN tb_product_card t ON t.product_id = p.product_id AND t.`sku_num` = p.`sku_num`
            <where>
                AND p.product_id = #{productId} and p.storehouse_id != 0
            </where>
            GROUP BY p.product_id, p.sku_num
        ) bak
    </select>

    <select id="statisticsSkuProductCard" parameterType="map" resultMap="statisticsResultMap">
        SELECT
        p.product_id id,
        p.sku_num,
        MAX(t.create_time) create_time,
        COUNT(t.id) total,
        SUM(
        CASE
        WHEN t.state = 1
        THEN 1
        ELSE 0
        END) AS unused
        FROM
        tb_product_sku p
        LEFT JOIN tb_product_card t ON t.product_id = p.product_id AND t.`sku_num` = p.`sku_num`
        <where>
            AND p.product_id = #{productId} and p.storehouse_id != 0
        </where>
        GROUP BY p.product_id, p.sku_num
        ORDER BY create_time asc
        LIMIT #{start}, #{count}
    </select>

    <select id="sellerProductCardCount" parameterType="map" resultType="int">
        SELECT
        COUNT(*)
        FROM (
            SELECT
            p.id, p.name, COALESCE(sum(s.sold_num),0) sold_num, COALESCE(sum(s.checked_num),0) checked_num
            FROM
            tb_product p, tb_product_card_statistics s
            <where>
                AND s.product_id = p.id AND s.seller_id = #{sellerId}
            </where>
            GROUP BY p.id
        ) t
    </select>
    
    <select id="sellerProductCardList" parameterType="map" resultMap="aldCaptchaItemMap">
        SELECT
        p.id, p.name, COALESCE(sum(s.sold_num),0) sold_num, COALESCE(sum(s.checked_num),0) checked_num
        FROM
        tb_product p, tb_product_card_statistics s
        <where>
            AND s.product_id = p.id AND s.seller_id = #{sellerId}
        </where>
        GROUP BY p.id
        ORDER BY checked_num desc, sold_num desc
        LIMIT #{start}, #{count}
    </select>

    <select id="sellerProductCardDayAllCount" parameterType="map" resultType="int">
        SELECT count(*) FROM (
            SELECT
              s.`statistics_date`,
              COALESCE(SUM(s.checked_num), 0) checked_num
            FROM
              tb_product_card_statistics s
            WHERE s.`seller_id` = #{sellerId}
              AND LEFT(s.`statistics_date`, 7) = #{month}
              GROUP BY s.`statistics_date`) t
    </select>

    <select id="sellerProductCardDayAllList" parameterType="map" resultMap="dayAldCaptchaCountMap">
        SELECT
          s.`statistics_date`,
          COALESCE(SUM(s.checked_num), 0) checked_num
        FROM
          tb_product_card_statistics s
        WHERE s.`seller_id` = #{sellerId}
          AND LEFT(s.`statistics_date`, 7) = #{month}
          GROUP BY s.`statistics_date`
          ORDER BY s.`statistics_date` DESC
          LIMIT #{start}, #{count}
    </select>

    <select id="sellerProductCardDayCount" parameterType="map" resultType="int">
      SELECT
          COUNT(*)
        FROM
          tb_product p,
          tb_product_card_statistics s
        WHERE p.`id` = s.`product_id`
          AND s.`seller_id` = #{sellerId}
          AND s.`statistics_date` = #{day}
    </select>

    <select id="sellerProductCardDayList" parameterType="map" resultMap="dayAldCaptchaItemMap">
      SELECT
          p.`id`,
          p.`name`,
          s.`sold_num`,
          s.`checked_num`,
          s.`statistics_date`
        FROM
          tb_product p,
          tb_product_card_statistics s
        WHERE p.`id` = s.`product_id`
          AND s.`seller_id` = #{sellerId}
          AND s.`statistics_date` = #{day}
          LIMIT #{start}, #{count}
    </select>

    <select id="getProductCardCount" parameterType="map" resultType="int">
        select
        <if test="state == 2">
            COALESCE(sum(s.sold_num),0)
        </if>
        <if test="state == 3">
            COALESCE(sum(s.checked_num),0)
        </if>

        from tb_product p, tb_product_card_statistics s
        <where>
            and p.id = s.product_id and s.seller_id = #{sellerId}
            <if test="productId != null">
              and s.product_id = #{productId}
            </if>
            <if test="day != null">
              and s.statistics_date = #{day}
            </if>
            <if test="month != null">
              and LEFT(s.`statistics_date`,7) = #{month}
            </if>
        </where>

    </select>

    <select id="queryProductCardCheckCount" parameterType="map" resultType="int">
        SELECT
        COUNT(*)
        FROM
        tb_product p, tb_product_card c
        <where>
            AND c.product_id = p.id AND c.seller_id = #{sellerId} and c.product_id = #{productId} and c.state = 3
            and DATE_FORMAT(c.`checked_time`,'%Y-%m') = #{month}
        </where>
    </select>

    <select id="queryProductCardCheckList" parameterType="map" resultMap="com.jfshare.product.model.mapper.TbProductCardMapper.BaseResultMap">
        SELECT
        c.*
        FROM
        tb_product p, tb_product_card c
        <where>
            AND c.product_id = p.id AND c.seller_id = #{sellerId} and c.product_id = #{productId} and c.state = 3
            and DATE_FORMAT(c.checked_time,'%Y-%m') = #{month}
        </where>
        order by c.checked_time DESC
        LIMIT #{start}, #{count}
    </select>
</mapper>