<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfshare.productTask.mybatis.mapper.automatic.TbProductCardStatisticsMapper" >
  <resultMap id="BaseResultMap" type="com.jfshare.productTask.mybatis.model.automatic.TbProductCardStatistics" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="seller_id" property="sellerId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="sold_num" property="soldNum" jdbcType="INTEGER" />
    <result column="checked_num" property="checkedNum" jdbcType="INTEGER" />
    <result column="statistics_date" property="statisticsDate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, seller_id, product_id, sold_num, checked_num, statistics_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jfshare.productTask.mybatis.model.automatic.TbProductCardStatisticsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_product_card_statistics
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.jfshare.productTask.mybatis.model.automatic.TbProductCardStatisticsExample" >
    delete from tb_product_card_statistics
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.jfshare.productTask.mybatis.model.automatic.TbProductCardStatistics" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_product_card_statistics
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="soldNum != null" >
        sold_num,
      </if>
      <if test="checkedNum != null" >
        checked_num,
      </if>
      <if test="statisticsDate != null" >
        statistics_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sellerId != null" >
        #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="soldNum != null" >
        #{soldNum,jdbcType=INTEGER},
      </if>
      <if test="checkedNum != null" >
        #{checkedNum,jdbcType=INTEGER},
      </if>
      <if test="statisticsDate != null" >
        #{statisticsDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jfshare.productTask.mybatis.model.automatic.TbProductCardStatisticsExample" resultType="java.lang.Integer" >
    select count(*) from tb_product_card_statistics
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_product_card_statistics
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.sellerId != null" >
        seller_id = #{record.sellerId,jdbcType=INTEGER},
      </if>
      <if test="record.productId != null" >
        product_id = #{record.productId,jdbcType=VARCHAR},
      </if>
      <if test="record.soldNum != null" >
        sold_num = #{record.soldNum,jdbcType=INTEGER},
      </if>
      <if test="record.checkedNum != null" >
        checked_num = #{record.checkedNum,jdbcType=INTEGER},
      </if>
      <if test="record.statisticsDate != null" >
        statistics_date = #{record.statisticsDate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_product_card_statistics
    set id = #{record.id,jdbcType=INTEGER},
      seller_id = #{record.sellerId,jdbcType=INTEGER},
      product_id = #{record.productId,jdbcType=VARCHAR},
      sold_num = #{record.soldNum,jdbcType=INTEGER},
      checked_num = #{record.checkedNum,jdbcType=INTEGER},
      statistics_date = #{record.statisticsDate,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jfshare.productTask.mybatis.model.automatic.TbProductCardStatistics" >
    update tb_product_card_statistics
    <set >
      <if test="sellerId != null" >
        seller_id = #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="soldNum != null" >
        sold_num = #{soldNum,jdbcType=INTEGER},
      </if>
      <if test="checkedNum != null" >
        checked_num = #{checkedNum,jdbcType=INTEGER},
      </if>
      <if test="statisticsDate != null" >
        statistics_date = #{statisticsDate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>