<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfshare.product.model.mapper.TbProductSkuMapper" >
  <resultMap id="BaseResultMap" type="com.jfshare.product.model.TbProductSku" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="sku_num" property="skuNum" jdbcType="VARCHAR" />
    <result column="sku_name" property="skuName" jdbcType="VARCHAR" />
    <result column="seller_class_num" property="sellerClassNum" jdbcType="VARCHAR" />
    <result column="shelf" property="shelf" jdbcType="VARCHAR" />
    <result column="cur_price" property="curPrice" jdbcType="INTEGER" />
    <result column="org_price" property="orgPrice" jdbcType="INTEGER" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="last_update_user_id" property="lastUpdateUserId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="v_picture" property="vPicture" jdbcType="VARCHAR" />
    <result column="ref_price" property="refPrice" jdbcType="INTEGER" />
    <result column="weight" property="weight" jdbcType="VARCHAR" />
    <result column="storehouse_id" property="storehouseId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, product_id, sku_num, sku_name, seller_class_num, shelf, cur_price, org_price, 
    comment, last_update_time, last_update_user_id, create_time, create_user_id, v_picture, 
    ref_price, weight, storehouse_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jfshare.product.model.TbProductSkuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_product_sku
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.jfshare.product.model.TbProductSkuExample" >
    delete from tb_product_sku
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.jfshare.product.model.TbProductSku" >
    insert into tb_product_sku
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="skuNum != null" >
        sku_num,
      </if>
      <if test="skuName != null" >
        sku_name,
      </if>
      <if test="sellerClassNum != null" >
        seller_class_num,
      </if>
      <if test="shelf != null" >
        shelf,
      </if>
      <if test="curPrice != null" >
        cur_price,
      </if>
      <if test="orgPrice != null" >
        org_price,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time,
      </if>
      <if test="lastUpdateUserId != null" >
        last_update_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="vPicture != null" >
        v_picture,
      </if>
      <if test="refPrice != null" >
        ref_price,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="storehouseId != null" >
        storehouse_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="skuNum != null" >
        #{skuNum,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null" >
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="sellerClassNum != null" >
        #{sellerClassNum,jdbcType=VARCHAR},
      </if>
      <if test="shelf != null" >
        #{shelf,jdbcType=VARCHAR},
      </if>
      <if test="curPrice != null" >
        #{curPrice,jdbcType=INTEGER},
      </if>
      <if test="orgPrice != null" >
        #{orgPrice,jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUserId != null" >
        #{lastUpdateUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="vPicture != null" >
        #{vPicture,jdbcType=VARCHAR},
      </if>
      <if test="refPrice != null" >
        #{refPrice,jdbcType=INTEGER},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=VARCHAR},
      </if>
      <if test="storehouseId != null" >
        #{storehouseId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jfshare.product.model.TbProductSkuExample" resultType="java.lang.Integer" >
    select count(*) from tb_product_sku
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_product_sku
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.productId != null" >
        product_id = #{record.productId,jdbcType=VARCHAR},
      </if>
      <if test="record.skuNum != null" >
        sku_num = #{record.skuNum,jdbcType=VARCHAR},
      </if>
      <if test="record.skuName != null" >
        sku_name = #{record.skuName,jdbcType=VARCHAR},
      </if>
      <if test="record.sellerClassNum != null" >
        seller_class_num = #{record.sellerClassNum,jdbcType=VARCHAR},
      </if>
      <if test="record.shelf != null" >
        shelf = #{record.shelf,jdbcType=VARCHAR},
      </if>
      <if test="record.curPrice != null" >
        cur_price = #{record.curPrice,jdbcType=INTEGER},
      </if>
      <if test="record.orgPrice != null" >
        org_price = #{record.orgPrice,jdbcType=INTEGER},
      </if>
      <if test="record.comment != null" >
        comment = #{record.comment,jdbcType=VARCHAR},
      </if>
      <if test="record.lastUpdateTime != null" >
        last_update_time = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdateUserId != null" >
        last_update_user_id = #{record.lastUpdateUserId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=INTEGER},
      </if>
      <if test="record.vPicture != null" >
        v_picture = #{record.vPicture,jdbcType=VARCHAR},
      </if>
      <if test="record.refPrice != null" >
        ref_price = #{record.refPrice,jdbcType=INTEGER},
      </if>
      <if test="record.weight != null" >
        weight = #{record.weight,jdbcType=VARCHAR},
      </if>
      <if test="record.storehouseId != null" >
        storehouse_id = #{record.storehouseId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_product_sku
    set id = #{record.id,jdbcType=INTEGER},
      product_id = #{record.productId,jdbcType=VARCHAR},
      sku_num = #{record.skuNum,jdbcType=VARCHAR},
      sku_name = #{record.skuName,jdbcType=VARCHAR},
      seller_class_num = #{record.sellerClassNum,jdbcType=VARCHAR},
      shelf = #{record.shelf,jdbcType=VARCHAR},
      cur_price = #{record.curPrice,jdbcType=INTEGER},
      org_price = #{record.orgPrice,jdbcType=INTEGER},
      comment = #{record.comment,jdbcType=VARCHAR},
      last_update_time = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      last_update_user_id = #{record.lastUpdateUserId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user_id = #{record.createUserId,jdbcType=INTEGER},
      v_picture = #{record.vPicture,jdbcType=VARCHAR},
      ref_price = #{record.refPrice,jdbcType=INTEGER},
      weight = #{record.weight,jdbcType=VARCHAR},
      storehouse_id = #{record.storehouseId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jfshare.product.model.TbProductSku" >
    update tb_product_sku
    <set >
      <if test="productId != null" >
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="skuNum != null" >
        sku_num = #{skuNum,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null" >
        sku_name = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="sellerClassNum != null" >
        seller_class_num = #{sellerClassNum,jdbcType=VARCHAR},
      </if>
      <if test="shelf != null" >
        shelf = #{shelf,jdbcType=VARCHAR},
      </if>
      <if test="curPrice != null" >
        cur_price = #{curPrice,jdbcType=INTEGER},
      </if>
      <if test="orgPrice != null" >
        org_price = #{orgPrice,jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUserId != null" >
        last_update_user_id = #{lastUpdateUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="vPicture != null" >
        v_picture = #{vPicture,jdbcType=VARCHAR},
      </if>
      <if test="refPrice != null" >
        ref_price = #{refPrice,jdbcType=INTEGER},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=VARCHAR},
      </if>
      <if test="storehouseId != null" >
        storehouse_id = #{storehouseId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>