<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfshare.product.model.mapper.TbThirdPartyProductSnapshotMapper" >
  <resultMap id="BaseResultMap" type="com.jfshare.product.model.TbThirdPartyProductSnapshot" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="third_party_product_id" property="thirdPartyProductId" jdbcType="VARCHAR" />
    <result column="third_party_identify" property="thirdPartyIdentify" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="vice_name" property="viceName" jdbcType="VARCHAR" />
    <result column="img_key" property="imgKey" jdbcType="VARCHAR" />
    <result column="detail_key" property="detailKey" jdbcType="VARCHAR" />
    <result column="active_state" property="activeState" jdbcType="INTEGER" />
    <result column="product_snapshoot_id" property="productSnapshootId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="last_update_id" property="lastUpdateId" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="tags" property="tags" jdbcType="VARCHAR" />
    <result column="storehouse_ids" property="storehouseIds" jdbcType="VARCHAR" />
    <result column="postage_id" property="postageId" jdbcType="INTEGER" />
    <result column="stock_state" property="stockState" jdbcType="INTEGER" />
    <result column="price_state" property="priceState" jdbcType="INTEGER" />
    <result column="offer_state" property="offerState" jdbcType="INTEGER" />
    <result column="stock_info" property="stockInfo" jdbcType="VARCHAR" />
    <result column="sellerClassNum" property="sellerclassnum" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.jfshare.product.model.TbThirdPartyProductSnapshotWithBLOBs" extends="BaseResultMap" >
    <result column="sku_template" property="skuTemplate" jdbcType="LONGVARCHAR" />
    <result column="attribute" property="attribute" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, product_id, third_party_product_id, third_party_identify, name, vice_name, img_key, 
    detail_key, active_state, product_snapshoot_id, type, create_time, create_user_id, 
    last_update_time, last_update_id, state, tags, storehouse_ids, postage_id, stock_state, 
    price_state, offer_state, stock_info, sellerClassNum, price
  </sql>
  <sql id="Blob_Column_List" >
    sku_template, attribute
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.jfshare.product.model.TbThirdPartyProductSnapshotExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_third_party_product_snapshot
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jfshare.product.model.TbThirdPartyProductSnapshotExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_third_party_product_snapshot
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.jfshare.product.model.TbThirdPartyProductSnapshotExample" >
    delete from tb_third_party_product_snapshot
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.jfshare.product.model.TbThirdPartyProductSnapshotWithBLOBs" >
    insert into tb_third_party_product_snapshot
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="thirdPartyProductId != null" >
        third_party_product_id,
      </if>
      <if test="thirdPartyIdentify != null" >
        third_party_identify,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="viceName != null" >
        vice_name,
      </if>
      <if test="imgKey != null" >
        img_key,
      </if>
      <if test="detailKey != null" >
        detail_key,
      </if>
      <if test="activeState != null" >
        active_state,
      </if>
      <if test="productSnapshootId != null" >
        product_snapshoot_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time,
      </if>
      <if test="lastUpdateId != null" >
        last_update_id,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="tags != null" >
        tags,
      </if>
      <if test="storehouseIds != null" >
        storehouse_ids,
      </if>
      <if test="postageId != null" >
        postage_id,
      </if>
      <if test="stockState != null" >
        stock_state,
      </if>
      <if test="priceState != null" >
        price_state,
      </if>
      <if test="offerState != null" >
        offer_state,
      </if>
      <if test="stockInfo != null" >
        stock_info,
      </if>
      <if test="sellerclassnum != null" >
        sellerClassNum,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="skuTemplate != null" >
        sku_template,
      </if>
      <if test="attribute != null" >
        attribute,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="thirdPartyProductId != null" >
        #{thirdPartyProductId,jdbcType=VARCHAR},
      </if>
      <if test="thirdPartyIdentify != null" >
        #{thirdPartyIdentify,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="viceName != null" >
        #{viceName,jdbcType=VARCHAR},
      </if>
      <if test="imgKey != null" >
        #{imgKey,jdbcType=VARCHAR},
      </if>
      <if test="detailKey != null" >
        #{detailKey,jdbcType=VARCHAR},
      </if>
      <if test="activeState != null" >
        #{activeState,jdbcType=INTEGER},
      </if>
      <if test="productSnapshootId != null" >
        #{productSnapshootId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateId != null" >
        #{lastUpdateId,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="tags != null" >
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="storehouseIds != null" >
        #{storehouseIds,jdbcType=VARCHAR},
      </if>
      <if test="postageId != null" >
        #{postageId,jdbcType=INTEGER},
      </if>
      <if test="stockState != null" >
        #{stockState,jdbcType=INTEGER},
      </if>
      <if test="priceState != null" >
        #{priceState,jdbcType=INTEGER},
      </if>
      <if test="offerState != null" >
        #{offerState,jdbcType=INTEGER},
      </if>
      <if test="stockInfo != null" >
        #{stockInfo,jdbcType=VARCHAR},
      </if>
      <if test="sellerclassnum != null" >
        #{sellerclassnum,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="skuTemplate != null" >
        #{skuTemplate,jdbcType=LONGVARCHAR},
      </if>
      <if test="attribute != null" >
        #{attribute,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jfshare.product.model.TbThirdPartyProductSnapshotExample" resultType="java.lang.Integer" >
    select count(*) from tb_third_party_product_snapshot
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_third_party_product_snapshot
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.productId != null" >
        product_id = #{record.productId,jdbcType=VARCHAR},
      </if>
      <if test="record.thirdPartyProductId != null" >
        third_party_product_id = #{record.thirdPartyProductId,jdbcType=VARCHAR},
      </if>
      <if test="record.thirdPartyIdentify != null" >
        third_party_identify = #{record.thirdPartyIdentify,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.viceName != null" >
        vice_name = #{record.viceName,jdbcType=VARCHAR},
      </if>
      <if test="record.imgKey != null" >
        img_key = #{record.imgKey,jdbcType=VARCHAR},
      </if>
      <if test="record.detailKey != null" >
        detail_key = #{record.detailKey,jdbcType=VARCHAR},
      </if>
      <if test="record.activeState != null" >
        active_state = #{record.activeState,jdbcType=INTEGER},
      </if>
      <if test="record.productSnapshootId != null" >
        product_snapshoot_id = #{record.productSnapshootId,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=INTEGER},
      </if>
      <if test="record.lastUpdateTime != null" >
        last_update_time = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdateId != null" >
        last_update_id = #{record.lastUpdateId,jdbcType=INTEGER},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.tags != null" >
        tags = #{record.tags,jdbcType=VARCHAR},
      </if>
      <if test="record.storehouseIds != null" >
        storehouse_ids = #{record.storehouseIds,jdbcType=VARCHAR},
      </if>
      <if test="record.postageId != null" >
        postage_id = #{record.postageId,jdbcType=INTEGER},
      </if>
      <if test="record.stockState != null" >
        stock_state = #{record.stockState,jdbcType=INTEGER},
      </if>
      <if test="record.priceState != null" >
        price_state = #{record.priceState,jdbcType=INTEGER},
      </if>
      <if test="record.offerState != null" >
        offer_state = #{record.offerState,jdbcType=INTEGER},
      </if>
      <if test="record.stockInfo != null" >
        stock_info = #{record.stockInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.sellerclassnum != null" >
        sellerClassNum = #{record.sellerclassnum,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=INTEGER},
      </if>
      <if test="record.skuTemplate != null" >
        sku_template = #{record.skuTemplate,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.attribute != null" >
        attribute = #{record.attribute,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update tb_third_party_product_snapshot
    set id = #{record.id,jdbcType=INTEGER},
      product_id = #{record.productId,jdbcType=VARCHAR},
      third_party_product_id = #{record.thirdPartyProductId,jdbcType=VARCHAR},
      third_party_identify = #{record.thirdPartyIdentify,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      vice_name = #{record.viceName,jdbcType=VARCHAR},
      img_key = #{record.imgKey,jdbcType=VARCHAR},
      detail_key = #{record.detailKey,jdbcType=VARCHAR},
      active_state = #{record.activeState,jdbcType=INTEGER},
      product_snapshoot_id = #{record.productSnapshootId,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user_id = #{record.createUserId,jdbcType=INTEGER},
      last_update_time = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      last_update_id = #{record.lastUpdateId,jdbcType=INTEGER},
      state = #{record.state,jdbcType=INTEGER},
      tags = #{record.tags,jdbcType=VARCHAR},
      storehouse_ids = #{record.storehouseIds,jdbcType=VARCHAR},
      postage_id = #{record.postageId,jdbcType=INTEGER},
      stock_state = #{record.stockState,jdbcType=INTEGER},
      price_state = #{record.priceState,jdbcType=INTEGER},
      offer_state = #{record.offerState,jdbcType=INTEGER},
      stock_info = #{record.stockInfo,jdbcType=VARCHAR},
      sellerClassNum = #{record.sellerclassnum,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=INTEGER},
      sku_template = #{record.skuTemplate,jdbcType=LONGVARCHAR},
      attribute = #{record.attribute,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_third_party_product_snapshot
    set id = #{record.id,jdbcType=INTEGER},
      product_id = #{record.productId,jdbcType=VARCHAR},
      third_party_product_id = #{record.thirdPartyProductId,jdbcType=VARCHAR},
      third_party_identify = #{record.thirdPartyIdentify,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      vice_name = #{record.viceName,jdbcType=VARCHAR},
      img_key = #{record.imgKey,jdbcType=VARCHAR},
      detail_key = #{record.detailKey,jdbcType=VARCHAR},
      active_state = #{record.activeState,jdbcType=INTEGER},
      product_snapshoot_id = #{record.productSnapshootId,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user_id = #{record.createUserId,jdbcType=INTEGER},
      last_update_time = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      last_update_id = #{record.lastUpdateId,jdbcType=INTEGER},
      state = #{record.state,jdbcType=INTEGER},
      tags = #{record.tags,jdbcType=VARCHAR},
      storehouse_ids = #{record.storehouseIds,jdbcType=VARCHAR},
      postage_id = #{record.postageId,jdbcType=INTEGER},
      stock_state = #{record.stockState,jdbcType=INTEGER},
      price_state = #{record.priceState,jdbcType=INTEGER},
      offer_state = #{record.offerState,jdbcType=INTEGER},
      stock_info = #{record.stockInfo,jdbcType=VARCHAR},
      sellerClassNum = #{record.sellerclassnum,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jfshare.product.model.TbThirdPartyProductSnapshotWithBLOBs" >
    update tb_third_party_product_snapshot
    <set >
      <if test="productId != null" >
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="thirdPartyProductId != null" >
        third_party_product_id = #{thirdPartyProductId,jdbcType=VARCHAR},
      </if>
      <if test="thirdPartyIdentify != null" >
        third_party_identify = #{thirdPartyIdentify,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="viceName != null" >
        vice_name = #{viceName,jdbcType=VARCHAR},
      </if>
      <if test="imgKey != null" >
        img_key = #{imgKey,jdbcType=VARCHAR},
      </if>
      <if test="detailKey != null" >
        detail_key = #{detailKey,jdbcType=VARCHAR},
      </if>
      <if test="activeState != null" >
        active_state = #{activeState,jdbcType=INTEGER},
      </if>
      <if test="productSnapshootId != null" >
        product_snapshoot_id = #{productSnapshootId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateId != null" >
        last_update_id = #{lastUpdateId,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="tags != null" >
        tags = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="storehouseIds != null" >
        storehouse_ids = #{storehouseIds,jdbcType=VARCHAR},
      </if>
      <if test="postageId != null" >
        postage_id = #{postageId,jdbcType=INTEGER},
      </if>
      <if test="stockState != null" >
        stock_state = #{stockState,jdbcType=INTEGER},
      </if>
      <if test="priceState != null" >
        price_state = #{priceState,jdbcType=INTEGER},
      </if>
      <if test="offerState != null" >
        offer_state = #{offerState,jdbcType=INTEGER},
      </if>
      <if test="stockInfo != null" >
        stock_info = #{stockInfo,jdbcType=VARCHAR},
      </if>
      <if test="sellerclassnum != null" >
        sellerClassNum = #{sellerclassnum,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="skuTemplate != null" >
        sku_template = #{skuTemplate,jdbcType=LONGVARCHAR},
      </if>
      <if test="attribute != null" >
        attribute = #{attribute,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>