<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfshare.score.model.mapper.TbScoreAccountRelaLogMapper" >
  <resultMap id="BaseResultMap" type="com.jfshare.score.model.TbScoreAccountRelaLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="appcode" property="appcode" jdbcType="VARCHAR" />
    <result column="requestdate" property="requestdate" jdbcType="TIMESTAMP" typeHandler="com.jfshare.mybatis.typehandler.JodaDateTime2TimestampTypeHandler" />
    <result column="sign" property="sign" jdbcType="CHAR" />
    <result column="spid" property="spid" jdbcType="CHAR" />
    <result column="deviceno" property="deviceno" jdbcType="VARCHAR" />
    <result column="devicetype" property="devicetype" jdbcType="VARCHAR" />
    <result column="outcustid" property="outcustid" jdbcType="VARCHAR" />
    <result column="token" property="token" jdbcType="VARCHAR" />
    <result column="exceedtime" property="exceedtime" jdbcType="TIMESTAMP" typeHandler="com.jfshare.mybatis.typehandler.JodaDateTime2TimestampTypeHandler" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="sysname" property="sysname" jdbcType="VARCHAR" />
    <result column="syscode" property="syscode" jdbcType="VARCHAR" />
    <result column="reperrcode" property="reperrcode" jdbcType="VARCHAR" />
    <result column="reperrmsg" property="reperrmsg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.requestdateCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.jfshare.mybatis.typehandler.JodaDateTime2TimestampTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.jfshare.mybatis.typehandler.JodaDateTime2TimestampTypeHandler} and #{criterion.secondValue,typeHandler=com.jfshare.mybatis.typehandler.JodaDateTime2TimestampTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=com.jfshare.mybatis.typehandler.JodaDateTime2TimestampTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.exceedtimeCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.jfshare.mybatis.typehandler.JodaDateTime2TimestampTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.jfshare.mybatis.typehandler.JodaDateTime2TimestampTypeHandler} and #{criterion.secondValue,typeHandler=com.jfshare.mybatis.typehandler.JodaDateTime2TimestampTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=com.jfshare.mybatis.typehandler.JodaDateTime2TimestampTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.requestdateCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.jfshare.mybatis.typehandler.JodaDateTime2TimestampTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.jfshare.mybatis.typehandler.JodaDateTime2TimestampTypeHandler} and #{criterion.secondValue,typeHandler=com.jfshare.mybatis.typehandler.JodaDateTime2TimestampTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=com.jfshare.mybatis.typehandler.JodaDateTime2TimestampTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.exceedtimeCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.jfshare.mybatis.typehandler.JodaDateTime2TimestampTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.jfshare.mybatis.typehandler.JodaDateTime2TimestampTypeHandler} and #{criterion.secondValue,typeHandler=com.jfshare.mybatis.typehandler.JodaDateTime2TimestampTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=com.jfshare.mybatis.typehandler.JodaDateTime2TimestampTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, appcode, requestdate, sign, spid, deviceno, devicetype, outcustid, token, exceedtime, 
    type, sysname, syscode, reperrcode, reperrmsg
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jfshare.score.model.TbScoreAccountRelaLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_score_account_rela_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.jfshare.score.model.TbScoreAccountRelaLogExample" >
    delete from tb_score_account_rela_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.jfshare.score.model.TbScoreAccountRelaLog" >
    insert into tb_score_account_rela_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appcode != null" >
        appcode,
      </if>
      <if test="requestdate != null" >
        requestdate,
      </if>
      <if test="sign != null" >
        sign,
      </if>
      <if test="spid != null" >
        spid,
      </if>
      <if test="deviceno != null" >
        deviceno,
      </if>
      <if test="devicetype != null" >
        devicetype,
      </if>
      <if test="outcustid != null" >
        outcustid,
      </if>
      <if test="token != null" >
        token,
      </if>
      <if test="exceedtime != null" >
        exceedtime,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="sysname != null" >
        sysname,
      </if>
      <if test="syscode != null" >
        syscode,
      </if>
      <if test="reperrcode != null" >
        reperrcode,
      </if>
      <if test="reperrmsg != null" >
        reperrmsg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appcode != null" >
        #{appcode,jdbcType=VARCHAR},
      </if>
      <if test="requestdate != null" >
        #{requestdate,jdbcType=TIMESTAMP,typeHandler=com.jfshare.mybatis.typehandler.JodaDateTime2TimestampTypeHandler},
      </if>
      <if test="sign != null" >
        #{sign,jdbcType=CHAR},
      </if>
      <if test="spid != null" >
        #{spid,jdbcType=CHAR},
      </if>
      <if test="deviceno != null" >
        #{deviceno,jdbcType=VARCHAR},
      </if>
      <if test="devicetype != null" >
        #{devicetype,jdbcType=VARCHAR},
      </if>
      <if test="outcustid != null" >
        #{outcustid,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="exceedtime != null" >
        #{exceedtime,jdbcType=TIMESTAMP,typeHandler=com.jfshare.mybatis.typehandler.JodaDateTime2TimestampTypeHandler},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="sysname != null" >
        #{sysname,jdbcType=VARCHAR},
      </if>
      <if test="syscode != null" >
        #{syscode,jdbcType=VARCHAR},
      </if>
      <if test="reperrcode != null" >
        #{reperrcode,jdbcType=VARCHAR},
      </if>
      <if test="reperrmsg != null" >
        #{reperrmsg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jfshare.score.model.TbScoreAccountRelaLogExample" resultType="java.lang.Integer" >
    select count(*) from tb_score_account_rela_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_score_account_rela_log
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.appcode != null" >
        appcode = #{record.appcode,jdbcType=VARCHAR},
      </if>
      <if test="record.requestdate != null" >
        requestdate = #{record.requestdate,jdbcType=TIMESTAMP,typeHandler=com.jfshare.mybatis.typehandler.JodaDateTime2TimestampTypeHandler},
      </if>
      <if test="record.sign != null" >
        sign = #{record.sign,jdbcType=CHAR},
      </if>
      <if test="record.spid != null" >
        spid = #{record.spid,jdbcType=CHAR},
      </if>
      <if test="record.deviceno != null" >
        deviceno = #{record.deviceno,jdbcType=VARCHAR},
      </if>
      <if test="record.devicetype != null" >
        devicetype = #{record.devicetype,jdbcType=VARCHAR},
      </if>
      <if test="record.outcustid != null" >
        outcustid = #{record.outcustid,jdbcType=VARCHAR},
      </if>
      <if test="record.token != null" >
        token = #{record.token,jdbcType=VARCHAR},
      </if>
      <if test="record.exceedtime != null" >
        exceedtime = #{record.exceedtime,jdbcType=TIMESTAMP,typeHandler=com.jfshare.mybatis.typehandler.JodaDateTime2TimestampTypeHandler},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.sysname != null" >
        sysname = #{record.sysname,jdbcType=VARCHAR},
      </if>
      <if test="record.syscode != null" >
        syscode = #{record.syscode,jdbcType=VARCHAR},
      </if>
      <if test="record.reperrcode != null" >
        reperrcode = #{record.reperrcode,jdbcType=VARCHAR},
      </if>
      <if test="record.reperrmsg != null" >
        reperrmsg = #{record.reperrmsg,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_score_account_rela_log
    set id = #{record.id,jdbcType=INTEGER},
      appcode = #{record.appcode,jdbcType=VARCHAR},
      requestdate = #{record.requestdate,jdbcType=TIMESTAMP,typeHandler=com.jfshare.mybatis.typehandler.JodaDateTime2TimestampTypeHandler},
      sign = #{record.sign,jdbcType=CHAR},
      spid = #{record.spid,jdbcType=CHAR},
      deviceno = #{record.deviceno,jdbcType=VARCHAR},
      devicetype = #{record.devicetype,jdbcType=VARCHAR},
      outcustid = #{record.outcustid,jdbcType=VARCHAR},
      token = #{record.token,jdbcType=VARCHAR},
      exceedtime = #{record.exceedtime,jdbcType=TIMESTAMP,typeHandler=com.jfshare.mybatis.typehandler.JodaDateTime2TimestampTypeHandler},
      type = #{record.type,jdbcType=VARCHAR},
      sysname = #{record.sysname,jdbcType=VARCHAR},
      syscode = #{record.syscode,jdbcType=VARCHAR},
      reperrcode = #{record.reperrcode,jdbcType=VARCHAR},
      reperrmsg = #{record.reperrmsg,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jfshare.score.model.TbScoreAccountRelaLog" >
    update tb_score_account_rela_log
    <set >
      <if test="appcode != null" >
        appcode = #{appcode,jdbcType=VARCHAR},
      </if>
      <if test="requestdate != null" >
        requestdate = #{requestdate,jdbcType=TIMESTAMP,typeHandler=com.jfshare.mybatis.typehandler.JodaDateTime2TimestampTypeHandler},
      </if>
      <if test="sign != null" >
        sign = #{sign,jdbcType=CHAR},
      </if>
      <if test="spid != null" >
        spid = #{spid,jdbcType=CHAR},
      </if>
      <if test="deviceno != null" >
        deviceno = #{deviceno,jdbcType=VARCHAR},
      </if>
      <if test="devicetype != null" >
        devicetype = #{devicetype,jdbcType=VARCHAR},
      </if>
      <if test="outcustid != null" >
        outcustid = #{outcustid,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="exceedtime != null" >
        exceedtime = #{exceedtime,jdbcType=TIMESTAMP,typeHandler=com.jfshare.mybatis.typehandler.JodaDateTime2TimestampTypeHandler},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="sysname != null" >
        sysname = #{sysname,jdbcType=VARCHAR},
      </if>
      <if test="syscode != null" >
        syscode = #{syscode,jdbcType=VARCHAR},
      </if>
      <if test="reperrcode != null" >
        reperrcode = #{reperrcode,jdbcType=VARCHAR},
      </if>
      <if test="reperrmsg != null" >
        reperrmsg = #{reperrmsg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>