<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfshare.subject.bean.TbSubjectRefDisplay">
    <resultMap id="BaseResultMap" type="com.jfshare.subject.bean.TbSubjectRefDisplay">
        <result column="subject_id" property="subjectId" jdbcType="INTEGER"/>
        <result column="display_id" property="displayId" jdbcType="INTEGER"/>
    </resultMap>


    <resultMap id="QueryResultMap" type="com.jfshare.subject.model.SubjectRefDisplayQueryModel">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="ids" property="ids" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        subject_id, display_id
    </sql>

    <!--后台分类获取前台分类id和type-->
    <select id="selectBySubjectId" resultType="java.util.HashMap" parameterType="java.lang.Integer">
        SELECT
        s.`type`,
        GROUP_CONCAT(display_id) displayIds
        FROM
        tb_subject_ref_display d,
        tb_display_subject s
        WHERE d.`display_id` = s.`id`
        AND d.`subject_id` = #{subjectId,jdbcType=INTEGER}
        GROUP BY s.`type`
    </select>

    <!--前台分类获取后台分类id-->
    <select id="selectByDisplayId" resultType="java.lang.String" parameterType="java.lang.Integer">
        select
        GROUP_CONCAT(subject_id) subjectIds
        from tb_subject_ref_display
        where display_id = #{display_id,jdbcType=INTEGER}
    </select>

    <!--获取所有后台分类和前台分类的对应关系-->
    <select id="selectAllSubjectRefDisplay" resultMap="QueryResultMap">
        SELECT
        d.`subject_id` id,
        s.`type` type,
        GROUP_CONCAT(d.`display_id`) ids
        FROM
        tb_subject_ref_display d,
        tb_display_subject s
        WHERE d.`display_id` = s.`id`
        GROUP BY s.`type`, d.`subject_id`
        ORDER BY d.`subject_id`
    </select>

    <!--获取所有前台分类和后台分类的对应关系-->
    <select id="selectAllDisplayRefSubject" resultMap="QueryResultMap">
        select
        display_id id,
        GROUP_CONCAT(subject_id) ids
        from tb_subject_ref_display
        GROUP BY display_id
    </select>

    <delete id="delete" parameterType="com.jfshare.subject.bean.TbSubjectRefDisplay">
        delete from tb_subject_ref_display
        where 1 = 1
        <if test="subjectId != null">
            AND subject_id=#{subjectId,jdbcType=INTEGER}
        </if>
        <if test="displayId != null">
            AND display_id=#{displayId,jdbcType=INTEGER}
        </if>
    </delete>

    <!--按后台类目path批量删除关系-->
    <delete id="deleteBySubjectPath" parameterType="java.lang.String">
        delete from tb_subject_ref_display
        where subject_id in(select id from tb_subject where path like CONCAT('${_parameter}','%' ))
    </delete>

    <!--按前台类目path批量删除关系-->
    <delete id="deleteByDisplayPath" parameterType="java.lang.String">
        delete from tb_subject_ref_display
        where display_id in(select id from tb_display_subject where path like CONCAT('${_parameter}','%' ))
    </delete>



    <insert id="insert" parameterType="com.jfshare.subject.bean.TbSubjectRefDisplay">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Mon Mar 23 11:36:53 CST 2015.
        -->
        insert into tb_subject_ref_display
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="subjectId != null">
                subject_id,
            </if>
            <if test="displayId != null">
                display_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="subjectId != null">
                #{subjectId,jdbcType=INTEGER},
            </if>
            <if test="displayId != null">
                #{displayId,jdbcType=INTEGER},
            </if>

        </trim>
    </insert>
</mapper>