<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfshare.baseTemplate.mybatis.mapper.manual.TbPostageTemplateManualMapper" >
    <select id="queryPostageTemplate" resultMap="com.jfshare.baseTemplate.mybatis.mapper.automatic.TbPostageTemplateMapper.BaseResultMap" parameterType="map">
        SELECT
        <include refid="com.jfshare.baseTemplate.mybatis.mapper.automatic.TbPostageTemplateMapper.Base_Column_List" />
        FROM tb_postage_template
        <where>
            <if test="id != 0">
                and id = #{id}
            </if>
            <if test="sellerId != 0">
                and seller_id = #{sellerId}
            </if>
            <if test="type != 0">
                and type = #{type}
            </if>
            <if test="name != null">
                and name = #{name, jdbcType=VARCHAR}
            </if>
            <if test="group != 0">
                and group = #{group}
            </if>
        </where>
        limit 60

    </select>
</mapper>